* {
	padding: 0;
	margin: 0;
}
body {
	margin: 0;
	padding: 0;
	width: 100vw;
    height: 100vw;
    font-family: 'Cinzel', serif;
}
body:after {
	background: url('https://images.pexels.com/photos/67575/submarine-boat-sea-ocean-67575.jpeg?auto=compress&cs=tinysrgb&h=350');
	background-size: cover;
	z-index: -1;
	opacity: 0.5;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	content: '';
	height: 1100px;
	width: auto;
}

/* main board elements */

.sound {
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

#sound-btn {
    padding: 5px;
    font-size: 1em;
    border-radius: 5px;
    font-family: inherit;
    background-color: rgba(0, 0, 0, 0.55);
    color: rgb(25, 185, 25);
    box-shadow: 1px 3px 4px rgb(56, 45, 45);
    transition: all .2s;
}

#sound-btn:hover {
    box-shadow: inset 0px 5px 10px black;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
    margin-top: 20px;
}

table {
	border-collapse: collapse;
    text-align: center;
    cursor: pointer;
}

table td {
	font-size: 20px;
}

.player-cell {
	border: 1px solid rgb(25, 185, 25);
	width: 25px;
	height: 25px;
	background-color: rgba(0, 0, 0, 0.6);
}

.comp-cell {
	border: 3px solid rgb(25, 185, 25);
	width: 50px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0.78);
}

/* ships and buttons */


.action-container {
    display: flex;
    width: 90%;
    justify-content: center;
    margin: 20px auto;
    align-items: center;
}

select {
    outline: none;
    width: 200px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.65);
    color: rgb(25, 185, 25);
    cursor: pointer;
    font-size: 1em;
    transition: all .5s
}

select:hover {
    color: white;
}

.ship-parts {
    width: 24px;
    height: 24px;
    border: 1px dotted black;
    background: rgb(25, 185, 25);
}

button {
    outline: none;
}

.ship-turn {
    margin-left: 30px;
    padding: 5px;
    border-radius: 5px;
    font-family: inherit;
    background-color: rgba(0, 0, 0, 0.65);
    color: rgb(25, 185, 25);
    transition: all .1s ease-in-out;
}

.ship-turn:hover {
    transform: scale(2);
}

.btn-game {
    margin: 5px 0;
    padding: 10px 15px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    font-family: inherit;
    background-color: rgba(255, 7, 7, 0.78);
    color: rgb(14, 6, 8);
    animation: pulse 3s ease-in-out 1s infinite;
    transition: all .2s;
    box-shadow: 1px 3px 4px rgb(56, 45, 45);
}

.active{
    background-color: rgba(0, 0, 0, 0.65);
    color: rgb(25, 185, 25);
    transform: scale(1.2);
    letter-spacing: 1px;
    animation:none;
}

.active:hover {
    box-shadow: inset 0px 5px 10px black;
}

@keyframes pulse {
    0% { transform: scale(1); }
    25% { transform: scale(1.6); }
    50% { transform: scale(1); }
    75% { transform: scale(1.6); }
    100% { transform: scale(1); }
}

/* footer */

footer {
    margin-top: 50px;
    text-align: center;
    width: 100vw;
    
}